* {
    font-family: 'DK Cool Crayon', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background: rgb(40, 31, 43);
    --base: rgb(30, 24, 32);
    --textColor: rgb(223, 223, 223);
    --pink: rgba(255, 46, 227, 0.753);
}

body {
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
    background-color: var(--background);
    height: 100vh;
}

.header-container {
    text-decoration: underline;
    text-shadow: 5px 1px 5px rgb(0, 0, 0);
    font-weight: 500;
    color: white;
    font-size: 3rem;
    /* height: 10rem; */
    display: flex;
    padding: 3rem 0;
    flex-direction: column;
    justify-content: center;
    background-color: var(--base);
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.11) 0px 50px 100px -20px, rgba(0, 0, 0, 0.144) 0px 30px 60px -30px, rgba(0, 0, 0, 0.171) 0px -2px 6px 0px inset;
}

@media screen and (max-width: 600px) {
    .header-container {
        font-size: 2rem; /* Reduce the font size for smaller screens */
    }
}


strong {
    color: var(--pink);
    font-size:larger;
}

.middle-container {
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
    color: rgb(223, 223, 223);
    text-align: center;
}

.rock-container, 
.paper-container,
.scissors-container {
    border: 10px solid rgba(0, 0, 0, 0.329);
    box-shadow: rgba(0, 0, 0, 0.363) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    cursor: pointer;
    transition: transform .2s;
}

.rock-container img,
.paper-container img,
.scissors-container img{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.rock-container:hover,
.paper-container:hover,
.scissors-container:hover {
    transform: scale(1.2);
}

.choices-container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    display: flex;
}

.choices-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 10rem;
    background-color: var(--base);
}

.lower-container {
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: 10px;
    color:var(--textColor);
    text-align: center;
}

.best-of-five {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.choose {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.wins {
    color: rgba(111, 218, 111, 0.788);
}

.bottom-container {
    padding: 30px;
    margin: 0 auto;
    width: 50rem;
    height: 10rem;
    margin-top: 5rem;
    text-align: center;
    flex-direction: column;
    color: white;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.144);
    font-size:  1.7rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.score {
    text-decoration: 2px underline;
}

.players-container {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 25rem;
}

.playing {
    gap: 7rem;
    display: flex;
    height: 7rem;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
    color: rgb(223, 223, 223);
    text-align: center;
}

.player-playing,
.computer-playing {
    display: flex;
    flex-direction: column;
    width: 160px;
}

.player-playing img,
.computer-playing img {
    cursor: default !important;
    height: 140px;
    width: 140px;
    cursor: pointer;
    transition: transform .2s;
    box-sizing: border-box;
}

.player-playing img {
    border: 7px solid rgba(59, 138, 63, 0.329);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.computer-playing img {
    border: 7px solid rgba(146, 18, 18, 0.329);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.winning-screen,
.losing-screen {
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
    background-color: var(--background);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20rem;
}

.winning-screen {
    color: rgb(177, 255, 131);
}

.losing-screen {
    color: rgb(255, 136, 136);
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.animation-text {
    justify-content: center;
    align-items: center;
    animation: slide-in 2s;
    font-size: 120px;
    font-weight: 900;
}

.try-again {
    color: white;
    background-color: var(--pink);
    margin: 4px 2px;
    cursor: pointer;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

.footer a {
    color: white;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 12px;
}